.sec-footer{
    margin-top: 455px;
    background-color: rgb(4, 4, 49);
    position: relative;
}
.sec-footer-none{
    background-color: rgb(4, 4, 49);
    position: relative;
}
.div1-footer{
    background-color: blue;
    color: white;
    position: relative;
    width: 80%;
    height: 140px;
    border-radius:10px;
    position: absolute;
    top: -50px;
    left: 54%;
    translate: -55%;
}
.div1-footer .btn{
   background-color: white;
   color: blue;
   border-radius: 10px;
   height: 40px;
   
}
.div1-footer p{
    font-size: 30px;
    width: 350px;
    
}
.div1-footer img{
    position: absolute;
    top: -185px;
    
    
}
.main-footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 355px;
   
    
}
.div2-footer div{
    width: 250px;
   
}
.div2-footer{
  display: flex;
  color: white;
  padding-top: 100px;
  justify-content: space-between;
  margin:20px 40px 20px 40px;
  flex-wrap: wrap;
  gap: 30px;

}
.div2-footer h3{
    margin-bottom: 20px;
}
.div2-footer img{
    margin-bottom: 20px;
}
.div2-footer ul li{
    list-style: none;
}
.div2-footer .btn{
    background-color: white;
    margin-bottom: 10px;
}
.end-footer {
    background-color: blue;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;

}
.end-footer ul {
    display: flex;
    list-style: none;
    gap:10px;
}
.div1-footer-none{
    display: none;
}
.about-footer{
    padding: 20px 20px 20px 20px;
    position: relative;
    top: 10px;
    background-color: blue;
    color: white;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.div1-about-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.div2-about-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.div3-about-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.icon-footer2{
    height: 50px;
    
    width: 30px;
    height: 30px;
    
}
.div-icon-footer{
    width: 50px;
    height: 50px;
    border: 3px solid rgb(250, 247, 247);
    border-radius: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .footer-icons-div{
   border: 1px solid white;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px;
   margin: 6px;
   
   
}
@media(max-width :1115px){
    .div1-footer img{
        display: none;
    }
    .main-footer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin:12px ;
       
        
    }

}
@media(max-width : 765px){
    .div2-footer{
        padding-top: 200px;
    } 
}